<%- include('includes/head', { pageTitle: 'About' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Project Description</h1>
    <h3><span style="color: var(--color-primary-400);">Note -</span> To test the functitonality of Admin use the following credentials</h3>
    <ul>
      <li><strong style="color: var(--color-primary-400);">E-Mail:</strong> admin@metamart.com</li>
      <li><strong style="color: var(--color-primary-400);">Password:</strong> adminpassword</li>
    </ul>
  </main>
<%- include('includes/footer') %>