<%- include('includes/head', { pageTitle: 'About' }) %>
<link rel="stylesheet" href="/styles/about.css">
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Project Description</h1>
    <h3><span id="sub-heading">Note -</span>To test the functitonality of Admin use the following credentials</h3>
    <ul>
      <li><strong id="sub-heading">E-Mail:</strong>admin@metamart.com</li>
      <li><strong id="sub-heading">Password:</strong>adminpassword</li>
    </ul>
    <hr>
    <h1>Developed By</h1>
    <h3><span id="sub-heading">Name -</span>Harsh Rajput</h3>
    <section id="contact">
      <h3 id="sub-heading">Contact -</h3>
      <span>
        <a href="https://www.linkedin.com/in/un-stoppable-HR" class="btn">LinkedIn</a> 
        <a href="https://github.com/un-stoppable-HR" class="btn">GitHub</a>
      </span>
    </section>
  </main>
<%- include('includes/footer') %>